.top{
	height: 100px;
}
.main{
	height: 900px;
}
.block{
	height: 900px;
}
.video{
	height: 500px;
}
.normal{
	height: 200px;
}
.coment{
	height: 150px;

}
.small{
	height: 50px;
}